.loginPage {
  min-height: 100vh;
  padding-top: 3rem;
  .email,
  .password {
    display: flex;
    flex-direction: column;
    label {
      color: var(--textLight);
      font-size: 1.5rem;
    }
    input {
      height: 3rem;
      width: 15rem;
    }
    margin: 1rem 0;
    position: relative;
  }
  span {
    color: rgb(223, 52, 52);
  }
  .loginButtonContainer {
    .loginBtn {
      padding: 0.5rem 1rem;
      border: 2px solid #24d997;
      background-color: transparent;
      color: white;
      font-size: 1.2rem;
      transition: all 0.5s linear;
      cursor: pointer;
      &:hover {
        background-color: #24d997;
      }
    }
  }
}
